<html >
	<head>
		<meta charset="utf-8">
		<title>AngularJS Services</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>

	<body>
		<h1>AngularJS Sample Application</h1>

		<div ng-app="mainApp" ng-controller = "CalcController">
			<p>Enter a number: <input type="number" ng-model="number" /></p>
			<button ng-click="square()">X<sup>2</sup></button>
			<p>Result: {{result}}</p>
		</div>

		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src = "./mainApp.js"></script>
		<script src = "./math.service.js"></script>
		<script src = "./calc.service.js"></script>
		<script src = "./calc.controller.js"></script>
	</body>
</html>
